@using Etch.OrchardCore.Blocks.Settings 

@model Etch.OrchardCore.Blocks.ViewModels.EditBlockBodyPartViewModel

@inject OrchardCore.Environment.Shell.IShellFeaturesManager ShellFeaturesManager

@{
    var isEditorJSEnabled = (await ShellFeaturesManager.GetEnabledFeaturesAsync()).Any(x => x.Id == "Etch.OrchardCore.Blocks.EditorJS");

    var typeName = Model.TypePartDefinition.ContentTypeDefinition.Name;
    var partName = Model.TypePartDefinition.Name;
    var tenantPath = Context.Request.PathBase.ToString();

    var settings = Model.TypePartDefinition.GetSettings<BlockBodyPartSettings>();
}

@if (isEditorJSEnabled)
{
    <script asp-src="~/OrchardCore.Media/Scripts/media.js" asp-name="media" at="Foot" depends-on="admin, vuejs, sortable, vuedraggable, jQuery-ui"></script>
    <style asp-src="~/OrchardCore.Media/Styles/media.min.css" debug-src="~/OrchardCore.Media/Styles/media.css"></style>

    <script asp-src="~/Etch.OrchardCore.Blocks/Scripts/editorjs/admin.js" asp-append-version="true" at="Foot"></script>
    <style asp-src="~/Etch.OrchardCore.Blocks/Styles/editorjs/admin.css" asp-append-version="true" at="Foot"></style>

    <script at="Foot">
        initializeMediaApplication(false, '@Url.Action("MediaApplication", "Admin", new { area = "OrchardCore.Media" })', '@Context.Request.PathBase.ToString()');
        initializeEditorJS('@tenantPath', '@Html.IdFor(m => m)', '@Html.IdFor(m => m.Data)', '@typeName', '@partName', '', '@settings.Placeholder');
    </script>

    <div class="form-group">
        <div id="@Html.IdFor(m => m)"></div>
        @Html.HiddenFor(m => m.Data)
    </div>

    <div class="modal" id="@Html.IdFor(m => m)-ModalBody">
        <div class="modal-dialog modal-lg media-modal" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@T["Select Media"]</h5>
                    <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary mediaFieldSelectButton">@T["OK"]</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@T["Cancel"]</button>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="form-group">
        <textarea asp-for="Data" rows="5" class="form-control content-preview-text"></textarea>
    </div>
}